*.bag2 filter=lfs diff=lfs merge=lfs -text
*.bag filter=lfs diff=lfs merge=lfs -text
*.db3               filter=lfs diff=lfs merge=lfs -text
data/**/converted_ros2/** filter=lfs diff=lfs merge=lfs -text
docs/research/papers/**    filter=lfs diff=lfs merge=lfs -text
docs/research/patents/**   filter=lfs diff=lfs merge=lfs -text
docs/research/standards/** filter=lfs diff=lfs merge=lfs -text
