# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# ROS 2 colcon outputs
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# PX4 build artifacts (submodule cleans these, but ignore here too)
firmware/PX4-Autopilot/build/
firmware/PX4-Autopilot/log/

# General build/log
build/
install/
log/

# Bags & maps (use LFS)
*.bag
*.bag2
maps/**/*
